@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.logo{
    width:  68px;
    height: 54px;
}
.navbar-brand {
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

nav {
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #454545;
}
.rounded-pill {
    font-weight: 600;
    background-color: #308943;
    width: 100px;
    height: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#footer{
    display: flex;
    flex-direction: column;
    position:static;
}
.footer-brand p{
    text-wrap: wrap;
    line-height: 30px;
}
.footer-col{
}
ul{
    padding-left: 0;
}